body {
    //background-image: url(https://i.postimg.cc/cJjjpWfD/Szablon-Wody.png);
   // background-image: url(https://i.postimg.cc/xC8fR9nt/testkostka.png);
    background-image:url(https://i.postimg.cc/s2NXbMnt/testkostka2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    width:100%;
    min-height:200px;
    
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.main-game {
    display:flex;
    flex-direction:column;
    font-size: 32px;
    margin-bottom:25px; 

    input {
        height:30px;
        width:188px;
        font-size: 22px;
        margin-top:35px;
        margin-right:6px;
    }
}

.randomNumberIs {
    font-size:48px;
    text-align: center;
    margin-top:-55px;
}

.button-roll {
    font-size:24px;
    height:76px;
    width:144px;
    background-color: #9980FA;
    margin-top: 10px;
}

.button-roll:hover{
    opacity:0.2;
}


.chooseNr{
    font-size: 24px;

input {
    margin:0 10px;
    height:40px;
    width:60px;
    font-size:32px;
}
}

.header {
    width:100%;
    height:50px;
    text-align:center;
    font-size:39px;
    margin-top:-25px;
}

.row {
    flex-direction: row;
    display:flex;
}

.oneTapResult {
    margin-top:-43px;
}

#playerMoney {
    color:#22ff00;
    font-style:bold;
}

.resultLose {
    color:#c70000;
}

.resultWin {
    color:#22ff00;
}

.chooseYourNumber {

    display: flex;

    p {
        font-size:22px;
    }
   
    input {

        background-color: #9980FA;
        color:#e84118;
        background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
        height:22px;
        width:22px;
        opacity:0;


        :checked {
            background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
            color:red;
            background-color: red;
            }
        }

        label {
            font-size:24px;
            color:#fff;
            display: flex;

        :checked + .radio-design{
            background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
           background: radial-gradient( #192a56,#00a8ff 51%);
        }
            
        }

    .radio-design {
        display: block;
        border-radius: 50%;
        border:1px solid black;
         width:22px;
        height:22px;
        background: #7f8fa6;
        margin-left:5px;
        position:absolute;

    }

}